body, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  font-size: 16px;
}

@media screen and (min-width: 400px) {
  html, body {
    font-size: 18px;
  }
  html .restaurants .card, body .restaurants .card {
    height: 15.625rem;
  }
  html .restaurants .card .image img, body .restaurants .card .image img {
    height: 11.25rem;
  }
}
@media screen and (min-width: 500px) {
  html, body {
    font-size: 20px;
  }
  html .restaurants .card, body .restaurants .card {
    height: 19.375rem;
  }
  html .restaurants .card .image img, body .restaurants .card .image img {
    height: 15.625rem;
  }
}
@media screen and (min-width: 768px) {
  html, body {
    font-size: 22px;
  }
  html header img, body header img {
    max-width: 12.5rem;
  }
  html footer img, body footer img {
    max-width: 9.375rem;
  }
  html .restaurants .card, body .restaurants .card {
    max-height: 19.375rem;
  }
  html .restaurants .card .image img, body .restaurants .card .image img {
    max-height: 15.625rem;
  }
}
@media screen and (min-width: 1024px) {
  html, body {
    font-size: 22px;
  }
  html header img, body header img {
    max-width: 15.625rem;
  }
  html footer, body footer {
    flex-direction: row;
    align-items: center;
    height: 50px;
    justify-content: space-between;
  }
  html footer .footer-logo img, body footer .footer-logo img {
    display: flex;
    width: 100%;
    max-width: 7.5rem;
    align-items: center;
    padding: 0 0px 0 50px;
  }
  html footer .liens, body footer .liens {
    display: flex;
    padding-right: 50px;
  }
  html footer .liens a, body footer .liens a {
    font-size: 0.875rem;
  }
  html .fonctionnement .flex-media, body .fonctionnement .flex-media {
    display: flex;
  }
  html .fonctionnement .flex-media div, body .fonctionnement .flex-media div {
    width: 250px;
    height: 100px;
    align-items: center;
    justify-content: center;
    padding: 0.625rem;
    margin: 1.25rem auto;
  }
  html .fonctionnement .flex-media div a .number, body .fonctionnement .flex-media div a .number {
    top: -30%;
    left: 50%;
    transform: translateX(-50%);
    width: 1.25rem;
    height: 1.25rem;
    font-size: 1.125rem;
    font-weight: 400;
  }
  html .fonctionnement .flex-media div a .text, body .fonctionnement .flex-media div a .text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  html .restaurants .flex-card, body .restaurants .flex-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  html .restaurants .flex-card .card, body .restaurants .flex-card .card {
    width: 45%;
    margin-bottom: 50px;
  }

  main .container .menu-coeur {
    text-align: right;
    padding-right: 50px;
  }
}
@media screen and (min-width: 1200px) {
  html .fonctionnement .flex-media, body .fonctionnement .flex-media {
    display: flex;
  }
  html .fonctionnement .flex-media .choix, body .fonctionnement .flex-media .choix {
    padding: 0 auto 20px;
  }
  html .fonctionnement .flex-media div, body .fonctionnement .flex-media div {
    width: 320px;
    height: 160px;
  }
  html .fonctionnement .flex-media div a .number, body .fonctionnement .flex-media div a .number {
    top: -20%;
  }
}
header {
  position: relative;
  font-family: "Shrikhand", cursive;
}
header img {
  display: flex;
  margin: auto;
  padding: 15px;
  width: 45%;
  cursor: pointer;
}

main .localisation {
  display: flex;
}
main .localisation .local {
  width: 100%;
  background: #e9eaea;
  padding: 0.9375rem;
  box-shadow: inset 0 2px 2px #c2c5c5;
}
main .localisation span {
  position: relative;
  display: block;
  width: 12.5rem;
  text-align: center;
  margin: auto;
  font-size: 0.9375rem;
  font-family: "Roboto", sans-serif;
}
main .localisation i {
  padding: 0.9375rem;
  font-size: 0.9375rem;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-55%);
}
main .info {
  text-align: center;
  background: #f6f6f6;
  padding: 15px;
}
main .info h1 {
  font-family: "Roboto", sans-serif;
  font-size: 1.3125rem;
  font-weight: 500;
  padding: 0 30px;
}
main .info p {
  font-family: "Roboto", sans-serif;
  font-size: 0.9375rem;
  font-weight: 300;
}
main .info button {
  border: none;
  text-decoration: none;
  cursor: pointer;
  background: linear-gradient(to right bottom, #ff79da, #9356dc);
  box-shadow: 3px 5px 5px #d0d0d0;
  padding: 12px 16px;
  border-radius: 50px;
  margin: 20px auto 40px;
}
main .info button a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #f1f1f1;
  font-size: 0.875rem;
  font-weight: 400;
}

.fonctionnement {
  padding: 20px;
  background: #fff;
}
.fonctionnement h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.375rem;
  font-weight: 500;
}
.fonctionnement .flex-media {
  background: transparent;
}
.fonctionnement .flex-media div {
  background: #f6f6f6;
  padding: 10px;
  margin: 20px auto;
  border-radius: 25px;
  box-shadow: 3px 5px 7px #e9e9e9;
}
.fonctionnement .flex-media div:hover {
  background: #f2eafb;
}
.fonctionnement .flex-media div:hover .text i {
  color: #9356dc;
}
.fonctionnement .flex-media div a {
  position: relative;
  text-decoration: none;
  color: #333;
}
.fonctionnement .flex-media div a .number {
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
  background: #9356dc;
  padding: 5px;
  border-radius: 100%;
  width: 0.75rem;
  height: 0.75rem;
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  color: #f1f1f1;
  text-align: center;
}
.fonctionnement .flex-media div a .text {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 0.9375rem;
  font-weight: 500;
}
.fonctionnement .flex-media div a .text i {
  padding: 15px 20px;
  color: #6c757d;
  font-size: 1.125rem;
}

.restaurants {
  padding: 20px 20px 30px;
  display: flex;
  flex-direction: column;
  background: #f6f6f6;
}
.restaurants h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.375rem;
  font-weight: 500;
  padding-top: 20px;
}
.restaurants .card {
  background: #fff;
  border-radius: 20px;
  width: 100%;
  height: 230px;
  margin: 0 auto 20px;
}
.restaurants .card:nth-child(3) .image img {
  object-position: center 62%;
}
.restaurants .card a {
  text-decoration: none;
  color: #333;
}
.restaurants .card .image {
  position: relative;
}
.restaurants .card .image img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  object-position: right bottom;
  border-radius: 20px 20px 0 0;
}
.restaurants .card .image p {
  position: absolute;
  top: 0px;
  right: 10px;
  background: #99e2d0;
  padding: 5px 8px;
  font-family: "Roboto", sans-serif;
  font-size: 0.8125rem;
  font-weight: 400;
  color: #278870;
}
.restaurants .card .info-texte {
  display: flex;
  padding: 10px 15px;
  position: relative;
}
.restaurants .card .info-texte .texte {
  flex-direction: column;
  width: 80%;
  height: 2.5rem;
}
.restaurants .card .info-texte .texte h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin: 0 auto;
}
.restaurants .card .info-texte .texte p {
  font-family: "Roboto", sans-serif;
  font-size: 0.9375rem;
  font-weight: 300;
  margin: 0 auto;
  padding-top: 3px;
}

footer {
  width: 100%;
  background: #353535;
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  margin-top: 50px;
}
footer .footer-logo img {
  font-family: "Shrikhand", cursive;
  width: 25%;
  padding: 0 0 10px 20px;
}
footer .liens a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #f1f1f1;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  padding-left: 20px;
  margin: 5px auto;
}
footer .liens a span i {
  padding-right: 10px;
  font-size: 13px;
}
footer .liens a .fa-handshake-angle {
  font-size: 10px;
}

header span {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: #333;
}

main {
  background: #f6f6f6;
}

.image-menu-cover img {
  width: 100%;
}

.container {
  width: 100%;
  background: #f6f6f6;
  border-radius: 25px 25px 0 0;
  padding: 25px 0px 0;
  position: relative;
  top: -50px;
}

.menu-titre {
  width: 100%;
  position: relative;
}
.menu-titre h2 {
  font-family: "Shrikhand", cursive;
  font-size: 1.625rem;
  font-weight: 400;
  margin: 15px 15px 0;
}
.menu-titre .heart-toggle i {
  font-size: 1.25rem;
  position: absolute;
  top: 50%;
  right: 3.5%;
  transform: translateY(-60%);
  cursor: pointer;
}
.menu-titre .heart-toggle .fa-solid {
  color: transparent;
  background-image: linear-gradient(to right bottom, #ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
}
.menu-titre input[type=checkbox] {
  display: none;
}
.menu-titre input[type=checkbox]:checked + .heart-toggle i {
  font-size: 1.25rem;
  position: absolute;
  top: 50%;
  right: 3.5%;
  transform: translateY(-60%);
  cursor: pointer;
}
.menu-titre input[type=checkbox]:checked + .heart-toggle .fa-solid {
  color: transparent;
  background-image: linear-gradient(to right bottom, #ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
}
.menu-titre input[type=checkbox]:checked + .heart-toggle .fa-solid {
  opacity: 1;
  transition: all 400ms ease-in-out;
}

.menu {
  margin: 15px;
}
.menu h3 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 300;
  border-bottom: 3px solid #99e2d0;
  width: 2.5rem;
  margin-block-start: 2.5rem;
}
.menu .choix {
  background: #fff;
  margin: 15px auto;
  border-radius: 15px;
  box-shadow: 3px 5px 7px #e9e9e9;
  display: flex;
}
.menu .choix .details-prix {
  position: relative;
  display: flex;
  width: 100%;
  height: 4.0625rem;
  cursor: pointer;
  overflow: hidden;
}
.menu .choix .details-prix:hover .text-menu {
  width: 65%;
}
.menu .choix .details-prix:hover .tarifs p {
  transform: translateX(-60px);
  transition: transform 500ms ease-in-out;
}
.menu .choix .details-prix:hover .form-check {
  width: 55px;
  transform: translateX(-60px);
  transition: transform 500ms ease-in-out;
}
.menu .choix .details-prix:hover i {
  transform: rotate(360deg);
  transition: transform 600ms ease-in-out;
}
.menu .choix .details-prix .text-menu {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  width: 76%;
}
.menu .choix .details-prix .text-menu h4 {
  font-size: 1.0625rem;
  font-weight: 500;
  margin: auto 0;
  padding: 0.625rem 0.625rem 0.3125rem 0.625rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .choix .details-prix .text-menu p {
  font-size: 0.875rem;
  font-weight: 300;
  margin: auto 0;
  padding: 0 0.625rem 0.625rem 0.625rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .choix .details-prix .tarifs {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: end;
  padding: 0 10px;
}
.menu .choix .details-prix .tarifs p {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 10px;
}
.menu .choix .details-prix .form-check {
  position: absolute;
  top: 0;
  right: -55px;
  width: 55px;
  height: 4.0625rem;
  border-radius: 0 15px 15px 0;
}
.menu .choix .details-prix .form-check .check-label {
  display: block;
  border-radius: 0 15px 15px 0;
  width: 60px;
  height: 4.0625rem;
  background: #99e2d0;
}
.menu .choix .details-prix .form-check .check-label i {
  font-size: 20px;
  color: #fff;
  position: absolute;
  top: 36%;
  left: 36%;
  transform: translate -50%, -50%;
}
.menu .choix .details-prix .form-check input[type=checkbox] {
  display: none;
}
.menu button {
  border: none;
  text-decoration: none;
  cursor: pointer;
  background: linear-gradient(to right bottom, #ff79da, #9356dc);
  box-shadow: 3px 5px 5px #d0d0d0;
  padding: 12px 16px;
  border-radius: 50px;
  padding: 15px 50px;
  display: block;
  justify-content: center;
  margin: 50px auto 0px;
}
.menu button a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #f1f1f1;
  font-size: 0.875rem;
  font-weight: 400;
}

footer {
  position: relative;
  bottom: 50px;
}

.info button:hover {
  opacity: 0.8;
  box-shadow: 3px 5px 5px #aaaaaa;
}

.menu button:hover {
  opacity: 0.8;
  box-shadow: 3px 5px 5px #aaaaaa;
}

.restaurants .card .info-texte .heart-toggle i {
  font-size: 1.25rem;
  position: absolute;
  top: 50%;
  right: 3.5%;
  transform: translateY(-60%);
  cursor: pointer;
}
.restaurants .card .info-texte .heart-toggle .fa-solid {
  color: transparent;
  background-image: linear-gradient(to right bottom, #ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
}
.restaurants .card .info-texte input[type=checkbox] {
  display: none;
}
.restaurants .card .info-texte input[type=checkbox]:checked + .heart-toggle i {
  font-size: 1.25rem;
  position: absolute;
  top: 50%;
  right: 3.5%;
  transform: translateY(-60%);
  cursor: pointer;
}
.restaurants .card .info-texte input[type=checkbox]:checked + .heart-toggle .fa-solid {
  color: transparent;
  background-image: linear-gradient(to right bottom, #ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
}
.restaurants .card .info-texte input[type=checkbox]:checked + .heart-toggle .fa-solid {
  opacity: 1;
  transition: all 400ms ease-in-out;
}

/*# sourceMappingURL=style.css.map */
