body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@import "./base/variables";
@import "./base/mixins";
@import "./accueil/header";
@import "./accueil/section-intro";
@import "./accueil/section-fonctionnement";
@import "./accueil/section-restaurants";
@import "./accueil/footer";
