footer {
  width: 100%;
  background: $footer-bg;
  display: flex;
  flex-direction: column;
  padding: 20px 0 30px;
  margin-top: 50px;

  .footer-logo {
    img {
      font-family: $logo-and-title-font;
      width: 25%;
      padding: 0 0 10px 20px;
    }
  }

  .liens {
    a {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      color: $secondary-text-color;
      font-size: $footer-font-size;
      font-family: $text-font;
      padding-left: 20px;
      margin: 5px auto;

      span i {
        padding-right: 10px;
        font-size: 13px;
      }

      .fa-handshake-angle{
        font-size: 10px;
      }

    }
  }
}