.restaurants {
	padding: 20px 20px 30px;
	display: flex;
	flex-direction: column;
	background: $main-bg;

	h2 {
		@include h2-style;
		padding-top: 20px;
	}

	.card {
		background: $card-bg;
		border-radius: 20px;
		width: $full-width;
		height: 230px;
		margin: 0 auto 20px;
		&:nth-child(3) .image img {
			object-position: center 62%;
		}

		a {
			text-decoration: none;
			color: $primary-text-color;
		}

		.image {
			position: relative;

			img {
				width: $full-width;
				height: 160px;
				object-fit: cover;
        object-position: right bottom;
				border-radius: 20px 20px 0 0;
			}

			p {
				position: absolute;
				top: 0px;
				right: 10px;
				background: $tertiary-color;
				padding: 5px 8px;
				font-family: $text-font;
				font-size: rem-calc(13);
				font-weight: $font-weight-thin-large;
				color: darken($tertiary-color, 40);
			}
    }

    .info-texte {
      display: flex;
      padding: 10px 15px;
			position: relative;

      .texte {
        flex-direction: column;
        width: 80%;
        height: rem-calc(40);

        h3 {
          @include h3-style;
          margin: 0 auto;
        }

        p {
          @include p-style;
          margin: 0 auto;
          padding-top: 3px;
        }
			}	
		}
	}
}
