main {
	.localisation {
		display: flex;
    .local {
      width: 100%;
			background: $local-bg;
      padding: rem-calc(15);
      box-shadow: inset 0 2px 2px darken($local-bg, 15);
    }
		span {
			position: relative;
      display: block;
			width: rem-calc(200);
			text-align: center;
      margin: auto;
			font-size: rem-calc(15);
			font-family: $text-font;
    }
		i {
			padding: rem-calc(15);
			font-size: rem-calc(15);
			position: absolute;
			top: 50%;
			left: 0%;
			transform: translateY(-55%);
		}
	}

	.info {
		text-align: center;
		background: $main-bg;
		padding: 15px;

		h1 {
			@include h1-style;
			padding: 0 30px;

		}
		p {
      @include p-style;
		}
		button {
			@include button-style;
			margin: 20px auto 40px;
			&:hover {
				@include button-style-hover;
			}
		}
	}
}
