	.fonctionnement {
    margin: auto;
    background: $card-bg;

    h2 {
      @include h2-style;
      padding: 20px 20px 0;
    }
    .flex-media {
      background: transparent;
      padding: 0 20px 20px;
      div {
        background: $main-bg;
        padding: 10px;
        margin: 20px auto;
        border-radius: 25px;
        box-shadow: 3px 5px 7px darken($main-bg, 5);
  
        &:hover {
          background: lighten($primary-color, 35);
          .text i {
            color: $primary-color;
          }
        }
        
        a {
          position: relative;
          text-decoration: none;
          color: $primary-text-color;
    
          .number {
            position: absolute;
            top: 50%;
            left: -20px;
            transform: translateY(-50%);
            background: $primary-color;
            padding: 5px;
            border-radius: 100%;
            width: rem-calc(12);
            height: rem-calc(12);
            font-family: $text-font;
            font-size: rem-calc(12);
            color: $secondary-text-color;
            text-align: center;
          }
    
          .text {
            display: block;
            font-family: $text-font;
            font-size: rem-calc(15);
            font-weight: $font-weight-normal;
            i {
              padding: 15px 20px;
              color: $icon-color;
              font-size: rem-calc(18);
            }
          }
        }
      }
    }

	}
