//? Animation loader

.loader {
	animation: loader-anim 1s ease-in-out 2s;
	animation-fill-mode: forwards;
}

@keyframes loader-anim {
	0% {
		visibility: visible;
	}
	100% {
		visibility: hidden;
	}
}

//? Animation bouton (couleur plus clair au hover)

.info {
	button {
		&:hover {
			@include button-style-hover;
		}
	}
}

.menu {
	button {
		&:hover {
			@include button-style-hover;
		}
	}
}

//? Animation click coeur-favoris (couleur plus clair au hover)

.restaurants {
	.card {
		.info-texte {
			@include heart-toggle;
		}
	}
}

//? Animation au chargement des menus (Propositions 1)

.menu {
	.entrees {
		@include slideOpacity-animation(700ms, 200ms);
	}
	.plats {
		@include slideOpacity-animation(700ms, 400ms);
	}
	.desserts {
		@include slideOpacity-animation(700ms, 600ms);
	}
	@include slideOpacity-keyframes;
}

//? Animation pages de menu (Ajouter des plats au click et utiliser les 3 petits points)

.menu {
	.choix {
		.details-prix {
			@include hover-check;
		}
	}
}
