@mixin h2-style {
	font-family: $text-font;
	font-size: $h2-font-size;
}

@mixin h3-style {
	font-family: $text-font;
	font-size: $h3-font-size;
}

@mixin p-style {
	font-family: $text-font;
	font-size: $p-font-size;
	font-weight: 300;
}
