// fonts
$logo-and-title-font: "Shrikhand", cursive;
$text-font: "Roboto", sans-serif;

// Main colors
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

// background colors
$local-bg: #E9EAEA;
$main-bg: #F6F6F6;

// text colors
$primary-text-color: #333;
$secondary-text-color: #F1F1F1;

// icons Colors
$icon-color: #6c757d;

// Font size
$h2-size: 25px;