.image-menu-cover {
  img {
    width: 100%;
  }
}

.container {
  width: 100%;
  background: $main-bg;
  border-radius: 25px 25px 0 0;
  padding: 25px 0px;
  position: relative;
  top: -50px;
}
  
.titre-menu-texte {
  display: flex;

  .menu-titre {
    width: 85%;
    h2 {
      font-family: $logo-and-title-font;
      font-size: $menu-h2-font-size;
      font-weight: 400;
      margin: 15px 15px 0;
    }
  }

  .menu-coeur {
    width: 15%;
    text-align: center;
    padding-top: 15px;
  }
}

.menu {
  margin: 15px;

  h3 {
    font-family: $text-font;
    text-transform: uppercase;
    font-size: $menu-h3-font-size;
    font-weight: 300;
    border-bottom: 3px solid $tertiary-color;
    width: 11%;
    margin-block-start: 2em;
  }

  .choix {
    background: $card-bg;
    margin: 15px auto;
    border-radius: 15px;
    box-shadow: 3px 5px 7px darken($main-bg, 5);
    display: flex;
    &:hover .form-check {
      display: block;
    }

    .details-prix {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 5px;

      h4 {
        font-family: $text-font;
        font-size: $menu-h4-font-size;
        font-weight: 500;
        margin: 0;
        padding: 10px 0 3px 10px;
      }

      .text-details {
        display: flex;
        justify-content: space-between;

        .details {
          margin: 0;
          padding: 0 0 5px 10px;
          font-family: $text-font;
          font-size: $menu-details-size;
          font-weight: 300;
        } 
  
        .prix {
          margin: 0;
          font-family: $text-font;
          font-size: $menu-details-size;
          font-weight: 500;
          padding: 0 20px 10px 0;
        }
      }
    }

    .form-check {
      background: $tertiary-color;
      width: 70px;
      height: 72px;
      border-radius: 0 15px 15px 0;
      position: relative;
      display: none;

      label {
        width: 100%;
        height: 70px;
        display: inline-block;
        border-radius: 0 15px 15px 0;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background: $card-bg;
          display: block; 
        }
        
        i {
          font-size: 15px;
          color: $tertiary-color;
          position: absolute;
          top: 38%;
          left: 38%;
          transform: translate (-50%, -50%);
          opacity: 0;  
        }
      }

      input {
        position: absolute;
        opacity: 0;
      }

      .check:checked+label>span i{
        opacity: 1;
      }
    }
  }
  button {
    @include button-style;
    padding: 15px 50px;
    display: block;
    justify-content: center;
    margin: 50px auto 30px;
  }
}